{% extends 'web/base.html' %}

{% block content %}
<div class="row-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        {% for m in messages %}
                <div class="alert alert-info">{{ m }}</div>
            {% endfor %}
            <form method="post">
                <fieldset>
                {% load bootstrap %}

                {{ form|bootstrap }}
                {% csrf_token %}
                </fieldset>
                <input type="submit" class="btn btn-primary" value="Odeslat">
            </form>

    </div>
</div>
{% endblock %}