{% extends 'web/base.html' %}

{% block content %}
<div class="row-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>Kontakt</h1>

        
        <p>Sportovní centrum <b>Sport Centrum</b></p>
        
        <p>3. května 227, 513 01 Semily</p>
        
        <p>E-mail: <a href="mailto:info@sportcentrum.cz">info@sportcentrum.cz</a><br />
        E-mail: <a href="mailto:ekonom@sportcentrum.cz">ekonom@sportcentrum.</a><br />
        E-mail: <a href="mailto:recepce@sportcentrum.cz">recepce@sportcentrum.cz</a><br />
        Web: <a href="{{ URL }}">www.sportcentrum.cz</a><br /></p>
        
        <p>Zástupce: Vladimír Nejedlý<br />
        IČ: 71182680, DIČ: CZ71183480</p>
        
    </div>
</div>
{% endblock %}