{% extends 'web/base.html' %}

{% block content %}
<div class="row-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>Nastavení</h1>

        {% for m in messages %}
        <div class="alert alert-info">{{ m }}</div>
        {% endfor %}
        <h3>Dobít kredit</h3>
        <form class="form-inline" role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="amount_money" class="sr-only">Částka</label>
                <input type="number" class="form-control" name="amount_money" id="amount_money" placeholder="Částka">
            </div>
            <input type="hidden" name="action_type" value="money_inc">
            <button class="btn btn-default">Dobít kredit</button>
        </form>

    </div>
</div>
{% endblock %}