{% extends 'web/base.html' %}

{% block content %}
<div class="row-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>O nás</h1>

	<p><b>Sportovní centrum Sport Centrum</b></p>
	
	<p>Všechny sportovní centra pohromadě.
	Jednotlivé sportovní centra skýtají možnosti sportovního využití, relaxace a zábavy, v kterém najdete luxusní ubytování hotelového typu, společenský sál, restauraci, sály pro fitness a aerobik, hernu stolního tenisu, squashový kurt, saunu, masáže, solárium a centrální halu pro tenis, volejbal, košíkovou, badminton, floorbal, trenink golfu a další sporty.
	</p>
	
    </div>
</div>
{% endblock %}